killywilly.duckdns.org {
    handle /api/wedding-rsvp {
        reverse_proxy localhost:{{ tunnel_port }}
    }

    reverse_proxy localhost:{{ tunnel_port }}
}

wedding.killywilly.duckdns.org {
    redir https://www.liamandaineswedding.com{uri} 301
}
