killywilly.duckdns.org {
    tls {
        issuer acme {
            dir https://api.buypass.com/acme/directory
            email mcaweeneyl@gmail.com
        }
    }

    handle /api/wedding-rsvp {
        reverse_proxy localhost:{{ tunnel_port }}
    }

    reverse_proxy localhost:{{ tunnel_port }}
}
